.input-container {
  margin-bottom: 15px;
  width: inherit;
}

.input-field {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #777777;
  border-radius: 5px;
  outline: 0;
  box-sizing: border-box;
}

.input-field:focus {
  border: 1px solid #0080FF;
};
